//Почему мы?
.gallery {
  background: linear-gradient(180deg, #1B1919 0%, #333232 100%);
  flex-direction: column;
}
.gallery__wrapper {
  padding: 100px 0 40px;
}
.gallery__container {
  .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: $red-color;
  }
}
.gallery__img {
  margin: 40px 0;
  img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
}
.gallery__swiper {
  position: relative;
  .gallery-btn__next,
  .gallery-btn__prev {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .gallery-btn__next {
    left: 10px;
    z-index: 2;
  }
  .gallery-btn__prev {
    right: 10px;
    z-index: 2;
  }
}
