//Главная страница
.main {
  position: relative;
  min-height: 100%;
  background: url(../img/main/bg.png) 0 0 / cover no-repeat;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
}
.main__title {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 60px;
    font-weight: 900;
    max-width: 900px;
    line-height: 73px;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    max-width: 750px;
    margin-top: 20px;
  }
}
.main__info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  bottom: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.info__left {
  display: flex;
  position: relative;
}
.left__item {
  display: flex;
  margin-top: 120px;
}
.left__address {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.left__line {
  border: 1px solid #fff;
  margin: 0 25px;
  height: 55px;
}
.left__time {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.left__btn {
  position: absolute;
  bottom: 0;
  left: 0;
}
.info__right {
  text-align: right;
  line-height: 0.8;
}
.right__regular {
  font-size: 49px;
}
.right__bold {
  font-size: 237px;
}
.right__medium {
  font-size: 83px;
}