@media (max-width: 1759px) {
  //Главная 
  .main {
    .main__wrapper {
      padding-top: 140px;
    }
    .main__title {
      h1 {
        font-size: 40px;
        line-height: 1.2;
        max-width: 600px;
      }
      h2 {
        font-size: 28px;
        line-height: 1.2;
      }
    }
    .main__info {
      margin-top: 130px;
    }
    .left__item {
      margin-top: 70px;
    }
    .left__address {
      font-size: 20px;
    }
    .left__line {
      height: 50px;
    }
    .left__time {
      font-size: 20px;
    }
    .left__btn {
      font-size: 22px;
      padding: 20px 70px;
    }
    .right__regular {
      font-size: 40px;
    }
    .right__bold {
      font-size: 200px;
    }
    .right__medium {
      font-size: 70px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

}

@media (max-width: 1399px) {
  //Шапка 
  .header {
    padding: 10px 30px;
    .logo {
      img {
        max-width: 200px;
      }
    }
    .logo__line {
      margin: 0 20px;
    }
    .info__city {
      font-size: 16px;
    }
    .info__phone {
      font-size: 12px;
    }
    .header__menu {
      a {
        margin: 10px;
        font-size: 14px;
      }
    }
    .header__profile {
      a {
        font-size: 14px;
        margin: 0;
        &::before {
          width: 14px;
          height: 14px;
        }
      }
    }
    .basket {
      width: 30px;
      height: 30px;
      &::after {
        width: 15px;
        height: 15px;
        top: 8px;
        left: 8px;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Главная 
  .main {
    .main__title {
      h1 {
        font-size: 32px;
        max-width: 500px;
      }
      h2 {
        font-size: 22px;
        max-width: 500px;
      }
    }
    .main__info {
      margin-top: 120px;
    }
    .left__address {
      font-size: 16px;
      line-height: 1.25;
    }
    .left__line {
      height: 35px;
    }
    .left__time {
      font-size: 16px;
      line-height: 1.25;
    }
    .left__btn {
      font-size: 18px;
      padding: 16px 58px;
    }
    .right__regular {
      font-size: 30px;
    }
    .right__bold {
      font-size: 170px;
    }
    .right__medium {
      font-size: 50px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Почему мы?
  .features {
    .features__wrapper {
      padding-top: 50px;
    }
    .features__title {
      h2 {
        font-size: 36px;
      }
    }
    .features__list {
      margin: 20px 0px 50px 0px;
      li {
        font-size: 20px;
        margin: 30px 0;
      }
    }
    .engine {
      top: 50px;
      right: 30px;
      max-width: 550px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Процесс работы
  .gallery {
    .gallery__wrapper {
      padding: 50px 0 40px;
    }
    .gallery__title {
      h2 {
      font-size: 36px;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Отзывы
  .feedback {
    .feedback__wrapper {
      padding: 50px 0 40px;
    }
    .feedback__title {
      h2 {
        font-size: 36px;
      }
    }
    .feedback__content {
      margin-top: 40px;
    }
    .feedback__item {
      p {
        font-size: 14px;
      }
      h4 {
        font-size: 16px;
      }
    }
    .feedback__item_right {
      p {
        font-size: 14px;
      }
      h4 {
        font-size: 16px;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Мировые производители
  .brands {
    .brands__wrapper {
      padding: 50px 0 40px;
    }
    .brands__title {
      h2 {
        font-size: 36px;
      }
    }
    .brands__swiper {
      margin: 0 0 0 0;
    }
    .container {
      padding: 0 50px;
    }
    .brands__citation {
      i {
        font-size: 20px;
      }
    }
  } 
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

}

@media (max-width: 1200px) {
  //Шапка 
  .header {
      .logo {
        img {
          max-width: 180px;
        }
      }
      .logo__line {
        margin: 0 10px;
      }
      .header__profile {
        margin-right: 25px;
      }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Главная 
  .main {
    .main__wrapper {
      padding-top: 100px;  
    }
    .main__title {
      h1 {
        font-size: 28px;
        max-width: 500px;
      }
      h2 {
        font-size: 18px;
        max-width: 500px;
      }
    }
    .main__info {
      width: 970px;
      padding: 0 15px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Подвал
  .footer {
    .footer-content__map {
      iframe {
        height: 300px;
      }
    }
    .footer__info {
      h3 {
        font-size: 28px;
      }
      p, a {
        font-size: 20px;
      }
    }
    .footer__policy {
      a {
        font-size: 18px;
      }
    }
    .footer__front-end {
      p, a {
        font-size: 18px;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

}

@media (max-width: 992px) {
  //Шапка 
  .header {
    .logo {
      img {
        max-width: 150px;
      }
    }
    .logo__line {
      display: none;
    }
    .logo__info {
      display: none;
    }
    .header__menu {
      width: auto;
      a {
        font-size: 13px;
      }
    }
    .menu__item {
      margin-right: 30px;
    }
    .header__profile {
      a {
        font-size: 13px;
        &::before {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Главная 
  .main {
    .main__title {
      h1 {
        font-size: 22px;
        max-width: 500px;
      }
      h2 {
        font-size: 18px;
        max-width: 500px;
      }
    }
    .main__info {
      width: 750px;
      padding: 0 15px;
    }
    .left__item {
      margin-top: 40px;
    }
    .left__address {
      font-size: 14px;
    }
    .left__line {
      height: 31px;
    }
    .left__time {
      font-size: 14px;
    }
    .left__btn {
      padding: 14px 42px;
    }
    .right__regular {
      font-size: 24px;
    }
    .right__bold {
      font-size: 144px;
    }
    .right__medium {
      font-size: 36px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Почему мы?
  .features {
    .features__title {
      h2 {
        font-size: 22px;
      }
    }
    .features__list {
      margin: 0px 0px 30px 0px;
      li {
        font-size: 14px;
        margin: 20px 0;
        padding-left: 20px;
        &::before {
          width: 15px;
          height: 15px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
    .engine {
      top: 50px;
      right: 30px;
      max-width: 320px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Процесс работы
  .gallery {
    .gallery__title {
      h2 {
        font-size: 22px;
      }
    }
    .gallery__img {
      margin: 20px 0;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Отзывы
  .feedback {
    .feedback__title {
      h2 {
        font-size: 22px;
      }
    }
    .feedback__content {
      margin-top: 0;
    }
    .feedback__item {
      p {
        font-size: 16px;
        margin: 20px 0 0; 
      }
      h4 {
        font-size: 18px;
        margin-top: 20px;
      }
    }
    .feedback__item_right {
      p {
        font-size: 16px;
        margin: 20px 0 0;
      }
      h4 {
        font-size: 18px;
        margin-top: 20px;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Мировые производители
  .brands {
    .brands__title {
      h2 {
        font-size: 22px;
      }
    }
    .brands__citation {
      margin-top: 0;
      i {
        font-size: 14px;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Подвал
  .footer {
    .footer__content {
      flex-direction: column;
    }
    .footer-content__map {
      flex: 0 1 auto;
      iframe {
        height: 300px;
      }
    }
    .footer-content__info {
      flex: 0 1 auto;
      margin: 30px 0px 0px 0px;
    }
    .footer__social {
      position: relative;
      justify-content: flex-end;
      margin: 10px 0px 0px 0px;
    }
    .footer__info {
      h3 {
        font-size: 28px;
      }
      p, a {
        font-size: 20px;
      }
    }
    .footer__policy {
      a {
        font-size: 14px;
      }
      span {
        font-size: 12px;
        margin: 6px 0px 0px 0px;
      }
    }
    .footer__front-end {
      p, a {
        font-size: 14px;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Страница "Политика конфидициальности"
  .policy {
    .policy__title {
      margin: 90px 0px 0px 0px;
      h3 {
        font-size: 18px;
      }
    }
    .policy__wrapper {
      margin: 20px 0px 30px;
    }
    .policy__blocks {
      p, li, a {
        font-size: 14px;
      }
      p, li {
        margin: 15px 0px 0px 0px;
      }
    }
    .policy__subtitle {
      font-size: 16px;
      margin: 20px 0px 0px 0px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

}

@media (max-width: 768px) {
  //Шапка 
  .header {
    padding: 10px 15px;
    &::before {
      z-index: 2;
    }
    .logo {
      display: flex;
      align-items: center;
      img {
        max-width: 200px;
      }
    }
    .header__menu {
      position: fixed;
      overflow: auto;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $popup-color;
      border-bottom: 1px solid $red-color;
      li {
        margin: 30px 0;
      }
      a {
        font-size: 24px;
      }
    }
    .header__menu.active {
      top: 0;
    }
    .header__block {
      position: absolute;
      display: flex;
      width: 100%;
      top: 65px;
      left: 0;
      padding: 0px 15px 0px 35px;
      z-index: 2;
    }
    .header__profile {
      a {
        font-size: 24px;
        padding: 0px 0px 0px 5px;
        &::before {
          top: 4px;
          width: 20px;
          height: 20px;
        }
      }
    }
    .header__basket {
      display: flex;
      justify-content: center;
      button {
        width: 40px;
        height: 40px;
        &::after {
          width: 20px;
          height: 20px;
          top: 10px;
          left: 10px;
        }
      }
    }
    .menu__item {
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
      align-items: center;
      top: 110px;
      z-index: 2;
    }
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 2;
      span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      &::before, &::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
    .header__burger.active span {
      transform: scale(0)
    }
    .header__burger.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
  }
  body.lock {
    overflow: hidden;
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
 //Главная 
  .main {
    min-height: 0;
    background-size: cover;
    background-position: center;
    .main__title {
      h1 {
        font-size: 28px;
        max-width: none;
      }
      h2 {
        margin-top: 20px;
        font-size: 20px;
        max-width: none;
      }
    }
    .info__left {
      flex-direction: column;
      order: 2;
    }
    .main__info {
      position: relative;
      width: auto;
      flex-direction: column;
    }
    .left__item {
      margin: 60px auto 40px;
    }
    .left__address {
      font-size: 14px;
    }
    .left__line {
      height: 36px;
      margin: 0 10px;
    }
    .left__time {
      font-size: 14px;
    }
    .left__btn {
      position: relative;
      align-self: start;
      font-size: 20px;
      padding: 15px 50px;
    }
    .info__right {
      order: 1;
    }
    .right__regular {
      font-size: 30px;
    }
    .right__bold {
      font-size: 100px;
    }
    .right__medium {
      font-size: 50px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Процесс работы
  .gallery {
      .gallery-btn__next,
      .gallery-btn__prev {
        display: none;
      }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Отзывы
  .feedback {
    .feedback__engine {
      display: none;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Мировые производители
  .brands {
    .container {
      padding: 0 15px;
    }
    .slide__block {
      height: 200px;
    }
    .swiper-btn__next, 
    .swiper-btn__prev {
      display: none;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Подвал
  .footer {
    .footer__wrapper {
      padding: 20px 0px;
    }
    .footer-content__map {
      iframe {
        height: 200px;
      }
    }
    .footer__info {
      h3 {
        font-size: 22px;
      }
      p, a {
        font-size: 18px;
        margin: 15px 0px 0px 0px;
        padding: 0px 0px 0px 20px;
        &::before {
          width: 15px;
          height: 15px;
        }
      }
    }
    .footer__social {
      justify-content: center;
      margin: 30px 0px 0px 0px;
    }
    .footer__bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px 0px 0px 0px;
    }
    .footer__logo {
      margin: 0px 0px 0px 0px;
    }
    .footer__policy {
      display: block;
      margin: 20px 0px;
    }
    .footer__front-end {
      text-align: center;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Страница "Политика конфидициальности"
  .policy {
    .policy__title {
      margin: 70px 0px 0px 0px;
    }
    .policy__blocks {
      ul {
        margin: 0px 0px 0px 20px;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

}

@media (max-width: 425px) {
  //Почему мы?
  .features {
    .features__wrapper {
      padding-top: 25px;
    }
    br {
      display: none;
    }
    .engine {
      right: 15px;
      max-width: 300px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Процесс работы
  .gallery {
    .gallery__wrapper {
      padding: 25px 0px 15px 0px;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
  //Отзывы
  .feedback {
    .feedback__wrapper {
      padding: 25px 0px 15px;
    }
    .feedback__item_right {
      display: none;
    }
  }
  //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------//

}