/* Fonts famali */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Colors (цвета) */
/* Basic setting (базовые настройки: кнопки, ) */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
  color: #1a1820;
}
a:hover {
  text-decoration: none;
}
button,
input,
a,
textarea {
  outline: none;
}
/* Typography (типографика: заголоки, ) */
.section-header {
  text-align: center;
  margin-top: 11rem;
}
.section-header h1 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.section-header p {
  font-size: 1.4rem;
}
/* header */
.main {
  padding: 1.5rem 0 3rem;
  background: #ffffff url(../img/bg-header.jpg) center center no-repeat;
  background-size: cover;
}
.header {
  height: 7rem;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-size: 15px;
  color: #1a1820;
  height: 7rem;
  line-height: 7rem;
  padding-right: 2rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* Главный заголовок */
.main-title h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.4;
  margin-top: 9rem;
}
.main-title p {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-top: 5rem;
}
.main-title span {
  display: inline-block;
  background-color: #70c849;
  color: #fff;
  padding: 25px 39px 18px 39px;
  font-size: 1.8rem;
  font-weight: 600;
  width: 220px;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3.2rem;
}
.main-title strong {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 900;
}
/* Форма шапки */
.form {
  text-align: center;
  padding: 3rem 4rem;
  margin-top: 11rem;
  background-color: #fff;
}
.form .form-text {
  font-size: 1.8rem;
}
.form .form-input1 {
  display: block;
  width: 100%;
  height: 5rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 2.5rem 0;
  padding-left: 1rem;
}
.form .input-text {
  position: absolute;
  font-size: 1.4rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0 0.5rem;
  background-color: #fff;
}
.form .form-btn {
  font-size: 1.6rem;
  width: 27rem;
  height: 6rem;
  margin-bottom: 1.2rem;
}
/* Кнопка шапки */
.button {
  height: 5rem;
  width: 22.5rem;
  color: #fff;
  background-color: #f8af01;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #df9d01;
}
/* Блок с преимуществами */
.features {
  margin-bottom: 11rem;
}
.features h1 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.features-header {
  margin-bottom: 12rem;
}
.features-slider {
  height: 29rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  padding: 4rem 0 3rem 0;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.features-block p {
  display: inline-block;
  width: 95%;
  font-size: 1.4rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
  height: 6.6rem;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
/* Блок с прайсом */
.price {
  background: #45b613 url(../img/price/price-fon.png) center;
  /* Аккардион для блока с прайсом */
}
.price-btn {
  width: 35rem;
  height: 6rem;
  font-size: 1.8rem;
  margin: 3rem 0;
}
.price-btn-none {
  display: none;
}
.price-block-btn {
  margin: 0 0 4rem 0;
  width: 20rem;
  height: 6rem;
}
.price-title {
  margin-bottom: 4rem;
}
.price-img {
  padding-bottom: 2.5rem;
}
.price-tag {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.5rem;
}
.price-tag small {
  font-size: 1.5rem;
}
.price-title,
.price .price-text {
  color: #fff;
}
.price-block {
  background-color: #fff;
  -webkit-box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
  text-align: center;
  min-height: 50rem;
  margin: 4rem 0 12rem 0;
}
.price-block p {
  font-size: 1.9rem;
  padding: 4rem 0 1.5rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  margin-top: 2rem;
  min-height: 15rem;
  list-style: none;
  padding-left: 0;
  font-size: 1.6rem;
  line-height: 1.7;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/price/chack.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.price .accordion {
  margin: 10px 0;
}
.price .accordion-s {
  color: #006b00;
  text-decoration: underline;
  font-size: 1.8rem;
}
.price .accordion-list {
  margin-top: 2rem;
  min-height: 15rem;
  list-style: none;
  padding-left: 0;
  font-size: 1.6rem;
  line-height: 1.7;
}
.price .accordion-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/price/chack.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.price a[href^="#accordion"] + * {
  display: none;
}
.price #accordion-css3 :target {
  display: block;
}
.price-accordion {
  display: none;
}
/* Блок с отзывами */
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-fon.jpg) no-repeat center;
  background-size: cover;
}
.feedback-slider {
  background-color: #fff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5.5rem 6rem;
  margin: 10rem 0 6rem;
  height: 50rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5rem;
  height: 6rem;
  background-color: #45b613;
  border: none;
}
.feedback-slider-btn img {
  width: 2rem;
}
.feedback-prev-btn {
  left: -5rem;
}
.feedback-next-btn {
  left: 114rem;
}
.review {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.media-span {
  font-size: 1.4rem;
}
.media-heading {
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.description {
  position: relative;
  font-size: 1.5rem;
  font-style: italic;
  border: 2px solid #45b613;
  margin-top: 2rem;
  padding: 2rem;
}
.description::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #45b613;
  border-bottom: none;
  border-top-right-radius: 100px;
  background-color: #fff;
}
.feedback-text-left {
  margin-left: -2.5rem;
}
.feedback-text-right {
  margin-left: 2.5rem;
  width: 12rem;
}
.feedback-form {
  margin: 0;
  margin-bottom: 10rem;
}
.feedback-form-text {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 4rem;
}
.feedback-btn {
  margin-top: 1rem;
}
.form .feedback-form-input {
  margin: 0;
  width: 20rem;
}
.input-name {
  margin-left: -5.5rem;
}
.hand {
  position: absolute;
  left: -5rem;
  bottom: 0;
}
.feedback-small {
  display: none;
}
/* Модальные окна */
.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  padding: 2.5rem 6rem;
  text-align: center;
  width: 35rem;
  height: 50rem;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2.5rem;
  width: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: none;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
.popup .popup-textarea {
  height: 9rem;
  padding: 1rem;
}
.popup .popup-form {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;
}
.popup .popup-btn {
  width: 100%;
}
/* Медиа запросы */
@media (max-width: 1199px) {
  .col-form {
    right: -20px;
  }
  .col-form .input-text {
    left: 192px;
  }
  .features-block h3 {
    font-size: 1.9rem;
  }
  .price-img {
    width: 27rem;
  }
  .feedback-next-btn {
    left: 94rem;
  }
  .description {
    padding: 1rem;
  }
  .hand {
    left: -20rem;
  }
  .form .feedback-form-input {
    width: 25rem;
  }
}
@media (max-width: 991px) {
  .main {
    background: #ffffff url(../img/bg-header.jpg) center right no-repeat;
    background-size: cover;
  }
  .phone-block {
    text-align: center;
  }
  .main-title {
    text-align: center;
  }
  .main-title h1 {
    margin-top: 3rem;
  }
  .main-title p {
    margin-top: 2rem;
  }
  .main-title span {
    margin-top: 2rem;
  }
  .main-form {
    margin-top: 3rem;
  }
  .main-small {
    color: #fff;
  }
  .col-form {
    right: 0;
  }
  .min-signature {
    margin-top: 2rem;
  }
  .features-block h3 {
    font-size: 2rem;
  }
  .feedback-slider {
    height: 90rem;
  }
  .feedback-next-btn {
    left: 72rem;
  }
  .review {
    margin-top: 3rem;
  }
  .hand {
    display: none;
  }
  .form .feedback-form-input {
    margin: 1rem 0 1rem 2.5rem;
  }
  .form .feedback-input-text {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    top: 2%;
  }
}
@media (max-width: 767px) {
  .main {
    background: #ffffff url(../img/bg-header.jpg) top left no-repeat;
    background-size: cover;
    padding: 0 0 3rem 0;
  }
  .main-small {
    color: #1a1820;
  }
  .main-title h1 {
    font-size: 2.2rem;
  }
  .main-title strong {
    font-size: 1.9rem;
    margin: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
  }
  .main-title p {
    font-size: 1.8rem;
  }
  .main-title span {
    margin-bottom: 1.3rem;
  }
  .main .phone-link {
    font-size: 1.4rem;
    font-weight: 700;
    padding-right: 0;
  }
  .main .phone-block {
    text-align: left;
  }
  .main .header-btn {
    width: 14rem;
    height: 4rem;
    font-size: 1.2rem;
  }
  .main .wrap-block {
    padding-right: 3rem;
  }
  .col-white {
    background-color: #fff;
  }
  .col-logo {
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4.5rem;
  }
  .main-form {
    margin-top: 1.3rem;
    padding: 2rem 2rem;
    width: 100%;
    height: 35rem;
  }
  .main-form .form-text {
    font-size: 1.7rem;
  }
  .main-form .form-btn {
    width: 25rem;
  }
  .col-form .input-text {
    left: 50%;
  }
  .min-signature {
    text-align: center;
    margin-top: 2rem;
  }
  .features {
    padding: 4rem 0 2rem 0;
    margin-bottom: 0;
  }
  .features-header {
    margin-top: 1rem;
  }
  .section-header {
    margin-bottom: 5.5rem;
    font-size: 2.6rem;
  }
  .features-block h3 {
    padding: 1.5rem;
  }
  .features-block p {
    font-size: 1.6rem;
  }
  .arrow {
    top: 15%;
  }
  .features-slider {
    height: 26rem;
  }
  .popup-content {
    width: 25rem;
    height: 46rem;
    padding: 1rem 2rem;
  }
  .popup .popup-btn {
    width: 100%;
    height: 5rem;
  }
  .section-header p {
    font-size: 1.8rem;
  }
  .price-header {
    margin: 0;
  }
  .price-title {
    margin: 4rem 0 2rem 0;
  }
  .price-text {
    font-size: 1.8rem;
  }
  .price-block {
    margin: 2rem 0 2rem 0;
    min-height: 45rem;
  }
  .price-block p {
    font-size: 1.8rem;
    padding: 2rem 0 1rem;
  }
  .price-block-btn {
    margin: 1rem 0 4rem;
  }
  .price-btn {
    display: none;
    width: 28rem;
    font-size: 1.4rem;
  }
  .price-btn-none {
    display: inline;
    margin: 1rem 0 1rem 0;
  }
  .price-list {
    display: none;
  }
  .price-accordion {
    display: inline;
  }
  .btn-center {
    text-align: center;
  }
  .feedback-btn {
    margin-left: -0.75rem;
  }
  .feedback-header {
    margin: 3rem 0 3rem;
  }
  .feedback-header h1 {
    font-size: 2.4rem;
  }
  .feedback-slider {
    padding: 1rem;
    margin: 0 0 3rem;
    height: 68rem;
  }
  .feedback-slider-btn {
    background-color: #fff;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    left: 0;
  }
  .review {
    margin: 1rem 0 1rem 0;
  }
  .feedback-dots {
    position: absolute;
    margin-top: 2rem;
    left: 50%;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
  .feedback-dots li {
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
  }
  .feedback-dots button {
    font-size: 0;
    width: 1rem;
    height: 1rem;
    background-color: #c7c9c6;
    border: none;
    border-radius: 100%;
  }
  .feedback-dots button:hover {
    content: '#';
    background-color: #358015;
  }
  .input-name {
    margin-left: -6rem;
  }
  .form .feedback-input-text {
    left: 28%;
  }
  .form .feedback-form-input {
    margin-left: -2rem;
  }
  .form .feedback-form-text {
    font-size: 1.6rem;
    margin: 0 0 1.5rem;
  }
  .feedback-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10rem;
  }
  .feedback-form {
    margin-bottom: 1rem;
  }
}
